body{
    background: url('../Images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.bg-navbar{
    background-color: rgba(145, 152, 157, 0.66)!important;
    
}
.stroke {
    -webkit-text-stroke: 0.5px #000000;
}
.link-cat-sidebar{
    width:50%;
}
.link-souscat-sidebar{
    width:45%;
    justify-content:center;
}