
@{
    ViewBag.Title = "Accueil";
}
<div class="d-inline-flex flex-column align-items-center col-12">
    <img class="" src="~/Content/images/logo.png" alt="Alternate Text" />
    <h1>Accueil</h1>
    <br />
    <br />
    <p class="stroke text-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor rutrum tincidunt suspendisse morbi.<br />
        Lorem tempor cras orci libero cursus tortor, aliquam enim viverra. Tristique auctor quam vivamus.
    </p>
    <br />
    <div id="carouselExampleIndicators" class="carousel slide col-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner" style="height:350px;">
            <div class="carousel-item active">
                <img src="~/Content/images/concert.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/sport.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


