
@model IEnumerable<portal_project.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="container row">
        <div class="col-4">
            @Html.Partial("_sidebar", Model)
        </div>
        <div class="col-8">
            @Html.Partial("_events", ViewData["events"])
        </div>

</div>





