
@{
    ViewBag.Title = "Qui sommes-nous ?";
}
<div class="d-inline-flex flex-column align-items-center col-12 ">
    <img class="" src="~/Content/images/logo.png" alt="Alternate Text" />
    <h2>Qui sommes-nous ?</h2>
    <br />
    <br />
    <p class="col-8 text-light border-1 stroke text-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum, eu adipiscing feugiat porttitor fames. <br /> Nulla rutrum sed natoque viverra aenean tempus risus porttitor. Varius integer elit posuere non. Id nec tristique magna velit. Eu maecenas nulla a pretium ut in auctor. <br /> Consequat ut congue phasellus egestas sed ut. Eget leo varius euismod nisi. Arcu velit pellentesque nibh risus pulvinar tristique vitae viverra. <br /> Turpis quam porta iaculis eu et, ullamcorper ut velit. Auctor dui, tincidunt elementum nec vestibulum, metus laoreet.<br/> Lobortis amet odio in dictum viverra at ac ut dui. Pharetra, nunc, nunc, fringilla pulvinar. <br />
        Maecenas feugiat eu enim lectus purus facilisis facilisi. Elit quam tortor quis congue enim eu.
    </p>
    <br />
    <br />
    <br />
    <div class="col-6 d-flex justify-content-evenly">
        <button type="button" class="btn rounded-pill border border-dark bg-navbar">Evenements</button>
        <button type="button" class="btn rounded-pill border border-dark bg-navbar">Contact</button>
    </div>
</div>
